export NODE_ENV=development 
# export NODE_ENV=production
export PORT=3000
export FIXED_JWT_TOKEN=NFT_VERIFICATION_FIXED_TOKEN
export DATABASE_HOST=localhost
export DATABASE_PORT=5432
export DATABASE_USER=user
export DATABASE_PASSWORD=password
export DATABASE_NAME=mitall
export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_PASSWORD=
export AWS_REGION=ap-southeast-1
export AWS_SECRET_NAME=prod/mintall-nft-cert-api/private-key