name: Semantic Release

on:
  push:
    branches:
      - develop
      - staging
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Set branch name
        run: echo "BRANCH_NAME=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Checkout correct branch
        run: |
          git fetch --no-tags --depth=1 origin $BRANCH_NAME
          git checkout $BRANCH_NAME
          git branch --show-current

      - name: Install Node.js (Only for semantic-release)
        uses: actions/setup-node@v3
        with:
          node-version: 23.6.0

      - name: Install semantic-release (Only if necessary)
        run: npm install -g semantic-release @semantic-release/git @semantic-release/github

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
